<!DOCTYPE html>
<html style="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3th</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/JQuery autocomplete/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/JQuery autocomplete/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/Content/JQuery autocomplete/jquery-ui.theme.min.css" />

</head>
<body style="">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Youtube xxx", "Index", "Video", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-form">
                @using (Html.BeginForm("Index", "Video", FormMethod.Get, new { @style = "width:100%;margin-top:0.5em;padding:0;display:inline;" }))
                {
                    @Html.TextBox("SearchParam", "", new { @class = "form-control input-sm", @style = "display:inline;width:50%;", @placeholder = "Search", value = "Search" })<input class="btn btn-default btn-sm" type="submit" placeholder="Search" style="margin-left:1em;display:inline;" />
                }
            </div>
            <div class="navbar-collapse collapse" style="margin-top:-3.3em;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @* ZAKUCANO 50 *@
    <div class="container" style="background-color:black;margin:0;padding:0;width:100%;overflow-x:hidden;height:50em;">
        @RenderBody()
        @*<hr />*@

    </div>
    <footer style="clear:both;margin-top:6em;position:relative;bottom:0;width:100%;background-color:#1b1b1b;border-top:1px solid #0e0e0e;height:3em;margin-top:-3em;">
        <div style="text-align:center;color:#9d9d9d;margin-top:1em;">Made by M</div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Sorting_Filtering.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
</body>
</html>
