@using Microsoft.AspNet.Identity
@using Youtube.Models.Model_Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @{ if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Admin page", "Administrator", "User")
                }
            }
        </li>
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetApplicationUserUsername() + "!", "Details", "User", new { UserName = User.Identity.GetApplicationUserUsername()}, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}



    @*<ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left:41.5em;">
        <li class="dropdown-item">sdfsdfs</li>
        <li class="dropdown-item">sdfsfsd</li>
        <li class="dropdown-item">sdfsdf</li>
        <li class="dropdown-divider"><div class="divider"></div></li>
        <li class="dropdown-item">sdfsfsd</li>
    </ul>*@